%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button{ class: "navbar-toggle", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1" }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
      %a{ class: "navbar-brand", href: "/" }
        Super App
        - if session[:user]
          = "(#{session[:user]["username"]})"
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        %li=link_to 'Dashboard', dashboard_url if session[:user]
        %li=link_to "Logout", logout_url, method: :delete if session[:user]
        %li=link_to "Login", sessions_url unless session[:user]
