%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button{ class: "navbar-toggle", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1" }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
      %a{ class: "navbar-brand", href: "/" }
        Super App
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        %li=link_to 'Home', root_url
        - if is_admin
          %li=link_to('Admin', '/admin')
        - if is_signed_in
          %li=link_to('Logout', '/logout', method: "delete")
        - if !is_signed_in
          %li=link_to("Login", "/login")
